mat-toolbar {
    margin-bottom: .5em;
}

button {
    margin-right: .5em
}

#wrapper {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    min-height: 700px;
}

mat-spinner {
    margin: 50px auto;
}

#check {
    margin-bottom: 15px;
}

mat-radio-button {
    margin: 0 15px;
}